<mat-card>
    <mat-card-header>
        <mat-card-title>Add food product</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <button mat-raised-button color="primary" class="btn" type="button" [routerLink]="['/add-food-product']">Add product</button>
    </mat-card-actions>
</mat-card>

<table mat-table [dataSource]="foodProdList" *ngIf="foodProdList.length > 0">

  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Species Column -->
  <ng-container matColumnDef="species">
    <th mat-header-cell *matHeaderCellDef> Species </th>
    <td mat-cell *matCellDef="let element"> {{element.species}} </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element"> {{element.price | currency: 'GBP'}} </td>
  </ng-container>

  <!-- Sale Column -->
  <ng-container matColumnDef="sale">
    <th mat-header-cell *matHeaderCellDef> Sale </th>
    <td mat-cell *matCellDef="let element"> {{element.sale | currency: 'GBP'}} </td>
  </ng-container>

  <!-- Description Column -->
  <!--<ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>-->

  <!-- Brand Column -->
  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef> Brand </th>
    <td mat-cell *matCellDef="let element"> {{element.brand}} </td>
  </ng-container>

  <!-- Rating Column -->
  <!--<ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef> Rating </th>
    <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
  </ng-container>-->
  
    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Image  </th>
      <td mat-cell *matCellDef="let element" class="row"> <img [src]="element.image"/> </td>
    </ng-container>

    <!-- Available Column -->
  <ng-container matColumnDef="available">
    <th mat-header-cell *matHeaderCellDef> Available </th>
    <td mat-cell *matCellDef="let element"> {{element.available}} </td>
  </ng-container>

  <!-- Weight Column -->
  <!--<ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>-->

  <!-- LastTil Column -->
  <!--<ng-container matColumnDef="lastTil">
    <th mat-header-cell *matHeaderCellDef> LastTil </th>
    <td mat-cell *matCellDef="let element"> {{element.lastTil}} </td>
  </ng-container>-->
  
    
  <!-- Edit Button Column -->
  <ng-container matColumnDef="editButton">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element"> 
        <button (click)="editProduct(element.id)" mat-fab color="warn">
            <mat-icon>edit</mat-icon>
        </button>
    </td>
</ng-container>
    

    <!-- Delete Button Column -->
    <ng-container matColumnDef="deleteButton">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> 
            <button (click)="deleteProduct(element.id)" mat-fab color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>