<mat-toolbar color="primary" class="nav">
    <app-menu></app-menu>
    <a  mat-flat-button color="primary" [routerLink]="['/home']" (click)="deleteSearch()">Pet Shop</a>
    <div class="right">
        
        <div class="search-bar-div">
            <input class="search-bar" type="text" #searchedItem (keyup.enter)="onSearch(searchedItem.value)">
        <button class="search-btn" mat-icon-button (click)="onSearch(searchedItem.value)"><mat-icon class="s-btn">search</mat-icon></button>
        </div>
        
        <button id="favourite" *ngIf="this.authService.userLoggedIn" mat-icon-button [routerLink]="['/favourites']"><mat-icon>favorite</mat-icon></button>
        <button id="cart" *ngIf="this.authService.userLoggedIn" mat-icon-button matBadge="{{cartService.cartItems_quantity}}" matBadgeColor="warn" [routerLink]="['/cart']">
            <mat-icon>shopping_cart</mat-icon>
            <span class="cdk-visually-hidden">
                <!--for screen readers-->
                Number of the products placed in your cart {{cartService.cartItems_quantity}}
            </span>
        </button>
        <app-account-menu></app-account-menu>

        <button id="login" *ngIf="!this.authService.userLoggedIn" mat-flat-button color="primary" [routerLink]="['/login']" class="vcenter">Login</button>
        <button id="register" *ngIf="!this.authService.userLoggedIn" mat-flat-button color="primary" [routerLink]="['/register']" class="vcenter">Register</button>

    </div>
</mat-toolbar>
