<mat-toolbar color="primary" class="nav">
    <app-menu></app-menu>
    <a  mat-flat-button color="primary" [routerLink]="['/home']">My App</a>
    <div class="right">
        <div class="search-bar-div">
            <input class="search-bar" type="text" >
        <button class="search-btn" mat-icon-button><mat-icon class="s-btn">search</mat-icon></button>
        </div>
        <button *ngIf="this.authService.userLoggedIn" mat-icon-button><mat-icon>favorite</mat-icon></button>
        <button *ngIf="this.authService.userLoggedIn" mat-icon-button matBadge="{{cartService.cartItems_quantity}}" matBadgeColor="warn" [routerLink]="['/cart']">
            <mat-icon>shopping_cart</mat-icon>
            <span class="cdk-visually-hidden">
                <!--for screen readers-->
                Example with a home icon with overlaid badge showing the number 15
            </span>
        </button>
        <app-account-menu></app-account-menu>
        <button *ngIf="!this.authService.userLoggedIn" mat-flat-button color="primary" [routerLink]="['/login']" class="vcenter">Login</button>
        <button *ngIf="!this.authService.userLoggedIn" mat-flat-button color="primary" [routerLink]="['/register']" class="vcenter">Register</button>
    </div>
</mat-toolbar>
