.right {
    margin-left: auto !important;
}

.vcenter {
    vertical-align: super !important; //to align vertically center
}

mat-toolbar {
    position: fixed;
    z-index: 100;
}

//mobile view
@media only screen and (max-width: 600px) {
    button {
        height: 25px !important;
        width: 25px !important;
    }
} 