<mat-card *ngIf="orderedItems?.length === 0">
    <mat-card-header>
        <mat-card-title>You don't have orders</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <button mat-raised-button color="primary" class="btn" type="button" [routerLink]="['/home']">Shop now</button>
    </mat-card-actions>
</mat-card>

<table mat-table [dataSource]="orderedItems" *ngIf="orderedItems.length > 0">
  
    <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element" class="row"> <img [src]="element.image"/> </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency: 'GBP'}} </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> 
            
            <span class="quantity">
                {{element.quantity}} 
            </span>
            
        </td>
      </ng-container>

    

    <!-- Subtotal Column -->
    <ng-container matColumnDef="subtotal">
        <th mat-header-cell *matHeaderCellDef> Subtotal </th>
        <td mat-cell *matCellDef="let element"> 
            {{(element.quantity * element.price) | currency: 'GBP'}}
        </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

  <div *ngIf="orderedItems?.length > 0" class="totalPrice">
    Total price: {{totalPrice | currency: 'GBP'}}
  </div>

  <mat-card>
    <mat-card-header>
        <mat-card-title>Please provide your details</mat-card-title>
    </mat-card-header>
    <form [formGroup]="orderForm" (ngSubmit)="orderSend(orderedItems)">
    <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label >Full name</mat-label>
                <input matInput type="text" formControlName="userName" required>
                <mat-error *ngIf="userName?.invalid && !userName?.pristine">
                    <small *ngIf="userName?.errors?.['required']">
                        Your name is required.
                    </small>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label >Email</mat-label>
                <input matInput type="email" formControlName="userEmail" required>
                <mat-error *ngIf="userEmail?.invalid && !userEmail?.pristine">
                    <small *ngIf="userEmail?.errors?.['required']">
                        Email is required.
                    </small>
                    <small *ngIf="userEmail?.errors?.['email']">
                        Incorrect email address.
                    </small>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label >Adderss</mat-label>
                <input matInput type="text" formControlName="userAddress" required>
                <mat-error *ngIf="userAddress?.invalid && !userAddress?.pristine">
                    <small *ngIf="userAddress?.errors?.['required']">
                        Your address is required.
                    </small>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label >Phone number</mat-label>
                <input matInput type="text" formControlName="userPhone" required>
                <mat-error *ngIf="userPhone?.invalid && !userPhone?.pristine">
                    <small *ngIf="userPhone?.errors?.['required']">
                        Phone number is required.
                    </small>
                    <small *ngIf="userPhone?.errors?.['maxLength']">
                        Phone number can't be longer than 11 digits.
                    </small>
                    <small *ngIf="userPhone?.errors?.['minLength']">
                        Phone number can't be shorter than 10 digits.
                    </small>
                    <small *ngIf="userPhone?.errors?.['pattern']">
                        Phone number is must start with 06.
                    </small>
                </mat-error>
              </mat-form-field>


    </mat-card-content>
    <mat-card-actions>
        <button [disabled]="!orderForm.valid" type="submit" mat-raised-button color="primary">Order</button>
    </mat-card-actions>
</form>
</mat-card>

  

