mat-card {
    width: 50%;
    margin: auto;
    top: 10%;
}

mat-card-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

mat-form-field {
    padding-bottom: 20px;
}

mat-card-actions {
    width: 100%;
}

button, .btn {
    margin: auto;
    width: 100%;
}


//mobile view
@media only screen and (max-width: 600px) {
    mat-card {
        width: 100%;
        top: 5%;
        padding: 10px;

        p {
            padding-left: 10px;
        }
    }
} 