<mat-card>
    <mat-card-header>
        <mat-card-title>Your details</mat-card-title>
    </mat-card-header>
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label >Full name</mat-label>
                <input matInput type="text" formControlName="userName" required>
                <mat-error *ngIf="userName?.invalid && !userName?.pristine">
                    <small *ngIf="userName?.errors?.['required']">
                        Your name is required.
                    </small>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label >Email</mat-label>
                <input matInput type="email" formControlName="userEmail" required>
                <mat-error *ngIf="userEmail?.invalid && !userEmail?.pristine">
                    <small *ngIf="userEmail?.errors?.['required']">
                        Email is required.
                    </small>
                    <small *ngIf="userEmail?.errors?.['email']">
                        Incorrect email address.
                    </small>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label >Adderss</mat-label>
                <input matInput type="text" formControlName="userAddress" required>
                <mat-error *ngIf="userAddress?.invalid && !userAddress?.pristine">
                    <small *ngIf="userAddress?.errors?.['required']">
                        Your address is required.
                    </small>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label >Phone number</mat-label>
                <input matInput type="text" formControlName="userPhone" required>
                <mat-error *ngIf="userPhone?.invalid && !userPhone?.pristine">
                    <small *ngIf="userPhone?.errors?.['required']">
                        Phone number is required.
                    </small>
                    <small *ngIf="userPhone?.errors?.['maxLength']">
                        Phone number can't be longer than 11 digits.
                    </small>
                    <small *ngIf="userPhone?.errors?.['minLength']">
                        Phone number can't be shorter than 10 digits.
                    </small>
                    <small *ngIf="userPhone?.errors?.['pattern']">
                        Phone number is must start with 06.
                    </small>
                </mat-error>
              </mat-form-field>


    </mat-card-content>
    <mat-card-actions>
        <button [disabled]="!profileForm.valid" type="submit" mat-raised-button color="primary">Save profile</button>
    </mat-card-actions>
</form>
</mat-card>

  