<div *ngIf="this.searchedItems.length > 0">

    <h1>Searched Products</h1>
    <div class="container">
    <mat-card *ngFor="let element of searchedItems;">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{element.name}} <span *ngIf="element.weight">- {{element.weight }} g</span></mat-card-title>
          <mat-card-subtitle>By {{element.brand}}</mat-card-subtitle>
          <mat-card-subtitle class="price" *ngIf="element.sale === 0">{{element.price | currency: 'GBP'}}</mat-card-subtitle>
          <mat-card-subtitle  *ngIf="element.sale > 0">
            <span class="forSale">{{element.price | currency: 'GBP'}}</span>    
            <span class="forSalePrice">{{element.price - (element.price * (element.sale / 100)) | currency: 'GBP'}}</span>
        
          </mat-card-subtitle>
        </mat-card-header>
        <div class="img-container">
          <img mat-card-image src="{{element.image}}" alt="{{element.name}}">
          <span *ngIf="element.sale > 0" class="forSalePercent">{{element.sale}} %</span>
        </div>
        <app-star-rating [ratings]="element.rating" ></app-star-rating>
        <mat-card-subtitle *ngIf="element.available > 0" class="available">&#10004; In stock</mat-card-subtitle>
        <mat-card-subtitle *ngIf="element.available === 0" class="notAvailable">&#10008; Out of stock</mat-card-subtitle>
        <mat-card-content>
          <p>
            {{element.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div *ngIf="element.weight && element.species === 'cat' "><a mat-raised-button color="primary" class="btn" [routerLink]="['/cat-food', element.id]">View details</a></div>
          <div *ngIf="element.weight && element.species === 'dog' "><a mat-raised-button color="primary" class="btn" [routerLink]="['/dog-food', element.id]">View details</a></div>
          <div *ngIf="!element.weight && element.species === 'dog' "><a mat-raised-button color="primary" class="btn" [routerLink]="['/dog-product', element.id]">View details</a></div>
          <div *ngIf="!element.weight && element.species === 'cat' "><a mat-raised-button color="primary" class="btn" [routerLink]="['/cat-product', element.id]">View details</a></div>
          <!--<button mat-raised-button color="primary" class="btn" [disabled]="element.available === 0" (click)="addToCart(element);">Add to cart</button>-->
        </mat-card-actions>
      </mat-card>
    </div>
</div>

<div class="salesProds" *ngIf="this.searchedItems.length === 0 && this.onSaleProducts.length > 0">
  <h1>On Sale Products</h1>

<div class="scroll">
  <button mat-icon-button class="scroll-arrows left" (click)="scrollLeft()"><mat-icon>keyboard_arrow_left</mat-icon></button>
  <div class="scroll-container" #scrollable>
    <mat-card *ngFor="let element of onSaleProducts" >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{element.name}} <span *ngIf="element.weight">- {{element.weight }} g</span></mat-card-title>
          <mat-card-subtitle>By {{element.brand}}</mat-card-subtitle>
          <mat-card-subtitle class="price" *ngIf="element.sale === 0">{{element.price | currency: 'GBP'}}</mat-card-subtitle>
          <mat-card-subtitle  *ngIf="element.sale > 0">
            <span class="forSale">{{element.price | currency: 'GBP'}}</span>    
            <span class="forSalePrice">{{element.price - (element.price * (element.sale / 100)) | currency: 'GBP'}}</span>
          </mat-card-subtitle>
        </mat-card-header>
        <div class="img-container">
          <img mat-card-image src="{{element.image}}" alt="{{element.name}}">
          <span *ngIf="element.sale > 0" class="forSalePercent">{{element.sale}} %</span>
        </div>
        <app-star-rating [ratings]="element.rating" ></app-star-rating>
        <mat-card-subtitle *ngIf="element.available > 0" class="available">&#10004; In stock</mat-card-subtitle>
        <mat-card-subtitle *ngIf="element.available === 0" class="notAvailable">&#10008; Out of stock</mat-card-subtitle>
        <mat-card-content>
          <p>
            {{element.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div *ngIf="element.weight && element.species === 'cat' "><a mat-raised-button color="primary" class="btn" [routerLink]="['/cat-food', element.id]">View details</a></div>
          <div *ngIf="element.weight && element.species === 'dog' "><a mat-raised-button color="primary" class="btn" [routerLink]="['/dog-food', element.id]">View details</a></div>
          <div *ngIf="!element.weight && element.species === 'dog' "><a mat-raised-button color="primary" class="btn" [routerLink]="['/dog-product', element.id]">View details</a></div>
          <div *ngIf="!element.weight && element.species === 'cat' "><a mat-raised-button color="primary" class="btn" [routerLink]="['/cat-product', element.id]">View details</a></div>
        </mat-card-actions>
      </mat-card>
    </div>
    <button mat-icon-button class="scroll-arrows right" (click)="scrollRight()"><mat-icon>keyboard_arrow_right</mat-icon></button>
  </div>
    <div><a mat-raised-button color="primary" class="btn" [routerLink]="['/sale']">View all on sale products</a></div>
</div>


<div *ngIf="this.searchedItems.length === 0">
<app-dog-food></app-dog-food>
<app-cat-food></app-cat-food>
<app-dog-other-product></app-dog-other-product>
<app-cat-other-product></app-cat-other-product>
</div>
